/* home.css */
.kitty {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.add-post-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: flex-end;
}

.add-post-container {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: black; /* Initial color */
  transition: color 0.3s ease; /* Smooth transition effect */
}
.add-post-container:hover {
  color: #48c78e;/* Color on hover */
}
.title1 {
  text-align: center;
  font-size: 5.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.post {
  border: 3px solid #ccc; /* Border around each post */
  padding: 1rem; /* Padding inside each post */
  margin-bottom: 1rem; /* Spacing between posts */
}

.Image {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  height: auto;
  border-radius: 8px; /* Rounded corners */
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contentDate {
  text-align: center;
  margin-top: 0.5rem;
}

.title2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.content {
  text-align: center;
}